.contact_wrap{
  background-color: #1A1A1A;
}

#contact_part_one{
  background: linear-gradient(to left, #000000 0% , #262626 100%);
  width: 100%;
  height: 100%;
}

.part_one_wrapper h3{
  padding-top: 150px;
  color: #fff;
  font-size: 48px;
  line-height: 72px;
  font-weight: 600;
  font-family: Urbanist  ;
  margin-bottom: 14px;
}
.part_one_wrapper p{
  font-family: urbanist;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #999999;
  width: 1358px;
  padding-bottom: 100px;
}

/* -----------contact_part_two------------------------ */
#contact_part_two {
  background-color: #000000;
  padding: 20px;
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}
.box-size {
  width: 475px;
  height: 222px;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* padding: 20px; */
  border-radius: 12px;
}
.box-size img {
  width: 82px;
  height: 82px;
  margin-bottom: 20px;
}
.box-size p{
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: 600;
  font-family: urbanist;
  color: aliceblue;
}
.box-size .arrow{
  position: absolute;
  width: 32px;
  height: 32px;
  right: 0px;
  top: 0px;
  margin-top: 20px;
  margin-right: 20px;
}

#contact_part_3{
  background-color: #000000;
  padding-top: 100px;
}
.three-wrap h3{
  color: aliceblue;
  font-size: 48px;
  line-height: 72px;
  font-weight: 500px;
  font-family: urbanist;
  margin-bottom: 14px;
}
.three-wrap p{
  width: 1300px;
  color: #999999;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  font-family: urbanist;
  padding-bottom: 80px;
}
