/* ===== Header Design Start===== */
.header {
  padding: 18px 0;
  background-image: url("/header_img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1a1a1a;
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 480px;
}
.header_info {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.header_text,
.header_link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  font-family: "Urbanist", sans-serif;
  transition: all linear 0.3s;
}
.header_link:hover {
  text-decoration: underline;
}
.header_icon {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
/* ===== Header Design End===== */
