/* ===== Header Design Start===== */
.header {
  padding: 18px 0;
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_icon {
  display: flex;
  align-items: center;
  column-gap: 720px;
}
/* ===== Header Design End===== */
