/* ===== Service Design Start ===== */
.service {
  background-color: #141414;
  padding: 20px;
}
.service_wrapper {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.service_item {
  width: 455px;
  padding: 40px 0;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #262626;
  border-radius: 12px;
}
.service_item p {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}
/* ===== Service Design End ===== */
